@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-error {
    border-color: red !important;
    border-width: 2px !important;
    animation: shake 0.3s !important;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    2% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
    }

.form-error::placeholder{
    color: red !important;
}

@layer base{
    html{
        @apply font-['Open_Sans']
    }

    .authenication-btn{
        @apply bg-[#0266F4] w-full rounded-md text-white py-2.5 font-bold   hover:opacity-90 hover:bg-white hover:border-[#0266F4] hover:border-[1px] hover:text-[#0266F4] transition-all;
    }
    .default-btn{
        @apply bg-customBlue-100 text-white py-[10px] px-[33px] rounded-[10px] hover:bg-blue-700 hover:text-white transition
    }
    .page-width{
        @apply container mx-auto px-2
    }

    .job-poster input,.job-poster textarea{
        @apply h-[45px] outline-none px-2 rounded-md border-black/50 border-[0.794px] placeholder:text-black/75 placeholder:font-light w-full
    }

    .job-poster textarea{
        @apply lg:h-[300px] md:h-[250px] h-[150px] py-2
    }

    .navbar .active{
        @apply font-bold 
    }
}